html,body { height:100%; }
#headline{
	font-family: times, Times New Roman, times-roman, georgia,serif;
	color: #444;
	padding: 10px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	text-align: center;
}

#mapNameTextField{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#topPage{
	height: 15%;
}

#leftPage{
	padding-left: 7px;
	display: inline-block;
	height:75%;
	width:25%;
}

#innerDialogLeft{
	float:none;
	display: inline-block;
}

#colorDropDown{
	width: auto;
}

#rightPage{
	padding-right: 7px;
	height: 85%;
	width: 70%;
	float: right;
}

#buttonToolBar{
	height:10% !important;
	float:right;
}

#canvasDiv{
	height: 90%;
	width: 100%;	
  	border:solid 1px #000;
  	overflow:scroll; 
  	-moz-border-radius: 3px;
	border-radius: 3px;
}

.figureBtn{
	padding: 0 0 0 0 !important;
	overflow: hidden;
	height: 50px;
	width: 50px !important;
}

.glowBorder {
   outline: none;
   border-color: #9ecaed;
   box-shadow: 0 0 10px #9ecaed;
}

.mouseFollow{
	display: inline-block;
}